// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
html {
	position: relative;
	min-height: 100%;
}
body {
	//padding-bottom: 796px;
	padding-bottom: 378px;
	text-transform: uppercase;
	color: rgba(0,0,0,.5);
	font-size: 0.8rem;
}


ul#project-menu.navbar-nav {
	border-bottom: 1px solid transparent;
}

h1 {
	font-size: 1.25rem;
	text-transform: uppercase;
	color: rgba(0,0,0,.5);
}


.copyrightinfo {
	font-size: 0.8rem;
	color: rgba(0,0,0,.5);
}
.content-area {
	
}
.entry-footer a {
	color: rgba(0,0,0,.5);
}

.nav-links a {
	color: rgba(0,0,0,.5);
}

.navbar-brand {
	padding-top: 60px;
	padding-bottom: 12px;
	text-transform: uppercase;
 	color: #000000;
     width: 100%; 
     letter-spacing: 0.15em;
     text-align: center;
}

.insta-block {
	margin: 0 auto;
	width: 640px;
}

.navbar-toggleable-md .navbar-collapse {

}

.footer-brandnamestyle {
	
font-size: 1.0rem;
	
}


.gallery-thumbnail {
	
}

.thumb-card {
	padding: 30px;
	text-align: center;
	white-space: nowrap;
}

.column-gallery {
	padding: 0 30px 10px 30px;
	text-align: center;
	white-space: nowrap;
}

.navbar {

padding: 0;
	
}

#wrapper-hero {
	margin-top: 30px;
	padding-bottom: 150px !important;
}

.hidden-on-mobile {
	position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
	
}

.carousel-inner {
	overflow: visible;
}

 .carousel-image-holder {
// 	height: 550px;
 	margin: 0 auto;
 	white-space: nowrap;
max-height: calc(100vh -200px);


}

 .carousel-image-holder img {
// 	width: auto;
// 	max-height: 100%;
max-height: 70vh;
max-width: 90vw;
	
 }

//Eventually found that the display:Flex fixed the auto margin being constrained by the child image. to positon the info button correctly
carousel-inner {
	//display: flex;
}
.carousel-item.active, .carousel-item {
	//display: flex;
}

.carousel-item .carousel-image-holder {
	//display: none;
	} 

.carousel-item.active .carousel-image-holder {
//display: unset;
} 


.carousel-item-next, .carousel-item-prev, .carousel-item.active {
	display: flex;
}


.image-caption {
	font-size: 1rem;
	float: left;
	padding-right: 20px;
}


.image-counter {
	float: right;
}

.image-caption btn, .image-caption .btn-primary {
	
	
	color: inherit;
	border-radius: 0px;
	box-shadow: none;
	padding: 6px 6px;
}
.btn-primary {
	background-color: #b7b7b7;
	border: none;
}
.caption-container {
	margin: 5px 5px 0px 0px;
}

.info-button {
	
	font-size: 0.8rem!important;
	color: #a9a9a9!important;
	
}

.image-caption-text {
	font-size: 0.8rem;
	padding-top: 6px;
	color: #a9a9a9;
	text-transform: uppercase;
	font-family:'Gill Sans Nova W01 Book Italic';
	
}



.thumb-button {
	padding: .5rem 1rem;
	float: left;
}

.carousel-control-next, .carousel-control-prev {
	position: unset;
	top: unset;
	bottom: unset;
	display: unset;
	align-items: unset;
	-webkit-box-pack: unset;
	justify-content: unset;
	text-align: unset;
	width: unset;
}

.navigation-arrows {

}
.nav-arrows-cont {
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.bottom-thumb-nav {
	float: left;
}

.bottom-thumb-nav a {
	line-height: 4px;
	color: rgba(0,0,0,.5);
}

.carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
	color: #878787;
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDUxMS45NDkgNTExLjk0OSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTExLjk0OSA1MTEuOTQ5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPHBhdGggZD0iTTM4Ni4yMzUsMjQ4LjMwOEwxNDAuOTAyLDIuOTc1Yy00LjI2Ny00LjA1My0xMC45ODctMy45NDctMTUuMDQsMC4yMTNjLTMuOTQ3LDQuMTYtMy45NDcsMTAuNjY3LDAsMTQuODI3bDIzNy43NiwyMzcuNzYNCgkJCWwtMjM3Ljc2LDIzNy44NjdjLTQuMjY3LDQuMDUzLTQuMzczLDEwLjg4LTAuMjEzLDE1LjA0YzQuMDUzLDQuMjY3LDEwLjg4LDQuMzczLDE1LjA0LDAuMjEzYzAuMTA3LTAuMTA3LDAuMjEzLTAuMjEzLDAuMjEzLTAuMjEzDQoJCQlsMjQ1LjMzMy0yNDUuMzMzQzM5MC4zOTUsMjU5LjE4OCwzOTAuMzk1LDI1Mi40NjgsMzg2LjIzNSwyNDguMzA4eiIvPg0KCTwvZz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K");
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDUxMS42NDEgNTExLjY0MSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTExLjY0MSA1MTEuNjQxOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8Zz4NCgk8Zz4NCgkJPHBhdGggZD0iTTE0OC4zMiwyNTUuNzZMMzg2LjA4LDE4YzQuMDUzLTQuMjY3LDMuOTQ3LTEwLjk4Ny0wLjIxMy0xNS4wNGMtNC4xNi0zLjk0Ny0xMC42NjctMy45NDctMTQuODI3LDBMMTI1LjcwNywyNDguMjkzDQoJCQljLTQuMTYsNC4xNi00LjE2LDEwLjg4LDAsMTUuMDRMMzcxLjA0LDUwOC42NjdjNC4yNjcsNC4wNTMsMTAuOTg3LDMuOTQ3LDE1LjA0LTAuMjEzYzMuOTQ3LTQuMTYsMy45NDctMTAuNjY3LDAtMTQuODI3DQoJCQlMMTQ4LjMyLDI1NS43NnoiLz4NCgk8L2c+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==") ;
}
.navbar-light .navbar-nav .active>.nav-link {
	border-bottom: 1px solid black;
	
}

a.nav-link {
	font-size: 0.8rem;
	text-transform: uppercase;
}

.site-footer {
	width: 100%;
	background-color: transparent;
	z-index: 2000;
	padding-top: 40px;
}

.site {
	min-height: 100vh;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.rjp-infobox {
height: 570px;	
}

.wrapper {
	padding: 30px 0px 0px 0px;
}

#wrapper-footer {
	border-top: solid 1px gray;
	color: rgba(0,0,0,.5);
	padding-top: 60px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
}

.footer-nav-menu {
	flex-direction: column;
	flex-wrap: wrap;
	height: 200px;
	color: rgba(0,0,0,.5);
}

.footer-nav-menu a.nav-link {
	color: rgba(0,0,0,.5)!important;
	
}


@media (min-width: 1680px) {
	
	#wrapper-footer {
		margin-top: 60px!important;
	}
	#wrapper-hero {
		margin-top: 0px;
		padding-bottom: 150px!important;
	}
	// .carousel-image-holder {
	// height: 930px;
	// margin: 0 auto;
	// white-space: nowrap;
//}
.rjp-infobox {
height: 630px;	
}

}



@media (max-width: 1680px) {
	#wrapper-footer {
		margin-top: 50px!important;
	}
	#wrapper-hero {
		margin-top: 50px;
		padding-bottom: 150px!important;
	}
	
	body {
		padding-bottom: 378px;
	}
	
	}
@media (max-width: 1440px) {
	
	
	// .carousel-image-holder {
	// height: 480px;
	// }
	.rjp-infobox {
height: 470px;	
}
	#wrapper-hero {
		margin-top: 20px;
		padding-bottom: 150px!important;
	}
	
	#wrapper-footer {
		margin-top:10px!important;
	}
	
	body {
		padding-bottom: 378px;
	}
	
}

	@media (pointer: coarse)  and (min-device-width: 1024px) {
		
		#wrapper-hero {
		margin-top: 120px;
		padding-bottom: 150px!important;
	}
	
	body {
		padding-bottom: 378px;
	}

		
		}
	

	
	
@media (max-width: 996px) {	
	
	
	.container {
		width: 100%;
	}

	.slide-buttons-cont {
		
			margin-left: 10px;
	}
	
/*
	.carousel-control-next, .carousel-control-prev {
	position: absolute;
	bottom: auto;
	z-index: 15;
	padding-right: 28px;
	}
*/

#wrapper-footer {
		margin-top:40px!important;
	}
	
	body {
		padding-bottom: 378px;
	}
}

	
@media (max-width: 775px) {
	
	
// 	.carousel-image-holder {
// 	height: 440px;
// 	margin: 0 auto;
// 	white-space: nowrap;
// }
.rjp-infobox {
height: 470px;	
}

// .carousel-image-holder img {
// 	width: auto;
// 	max-height: 100%;
// 	}
	
	
	#wrapper-footer {
		margin-top:40px!important;
	}
	
	.navbar-nav .nav-link {
		text-align: center;
	}
	
	body {
		padding-bottom: 772px;
	}
	
	}

	

@media (max-width: 575px) {
	
	
	#hero-slides {
	padding: 0;
}
	#wrapper-hero {
	margin-top: 10px;
	padding-bottom: 150px!important;
}

	.brandnamestyle {
// 	color: #a9a9a9;
	float: left;
	width: 100%;
	
	}

// .carousel-image-holder {
// 	height: 240px;
// 	margin: 0 auto;
// 	white-space: nowrap;
// }

// .carousel-image-holder img {
// 	width: auto;
// 	max-height: 100%;	
// }

#wrapper-footer {
		margin-top:40px!important;
	}
	
body {
		padding-bottom: 772px;
	}

}



.editions {
	white-space: normal;
	
}

.embed-container { 
	position:inherit; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
 } 
	
.feed-embed.embed-container {
	z-index: -1;
}
	
.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; }
#player, .fallback, body, html, iframe, .player .video-wrapper {
	background-color: transparent;
}

.home .caption-container {
	display: none;
}

.home  {
	.carousel-control-next, .carousel-control-prev
	{
	color: white;
	}
}

/* Tooltip on bottom */
/* Tooltip */
  .test + .tooltip > .tooltip-inner {
      background-color: #73AD21; 
      color: #FFFFFF; 
      border: 1px solid green; 
      padding: 15px;
      font-size: 20px;
  }
  
.tooltip .arrow {
	display: none;
}
  
  .tooltip-inner {
      background-color: white; 
      color: rgba(0,0,0,.5); 
      border:none; 
      padding: 0;
      margin-top: -35px;
      font-size: .8rem;
      text-transform: uppercase;
  }
  .tooltip.bs-tether-element-attached-top .tooltip-inner:before, .tooltip.tooltip-bottom .tooltip-inner:before {
	  display: none;
	  }
	  
.thumb-img {
	height: auto;
}

.thumb-grid, .mobile-thumb-grid {
	padding-top: 50px;
	padding-bottom: 50px;
}
.video-thumb-grid {
	padding-bottom: 160px;
	margin-top: 60px;
}
.linkwrap { position:relative; display:inline-block; }
.blocker { position:absolute; height:100%; width:100%; z-index:1;  }
.linkwrap iframe { z-index: 2; }
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.thumb-video-card {
	
	padding: 60px;
}

.journal-grid {
	padding-top: 70px;
}

.divider {								/* minor cosmetics */
            display: table; 
            font-size: 0.8rem; 
            text-transform: uppercase;
            text-align: center; 
            //width: 75%; 						/* divider width */
            margin: 40px auto;					/* spacing above/below */
        }
        .divider span { display: table-cell; position: relative; }
        .divider span:first-child, .divider span:last-child {
            width: 50%;
            top: 10px;							/* adjust vertical align */
            -moz-background-size: 100% 1px; 	/* line width */
            background-size: 100% 1px; 			/* line width */
            background-position: 0 0, 0 100%;
            background-repeat: no-repeat;
        }
        .divider span:first-child {				/* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
            background-image: -webkit-linear-gradient(180deg, #000, #000);
            background-image: -moz-linear-gradient(180deg, #000, #000);
            background-image: -o-linear-gradient(180deg, #000, #000);
            background-image: linear-gradient(90deg, #000, #000);
        }
        .divider span:nth-child(2) {
            color: #707070; padding: 0px 20px; width: auto; white-space: nowrap;
        }
        .divider span:last-child {				/* color changes in here */
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(#000));
            background-image: -webkit-linear-gradient(180deg, #000, #000);
            background-image: -moz-linear-gradient(180deg, #000, #000);
            background-image: -o-linear-gradient(180deg, #000, #000);
            background-image: linear-gradient(90deg, #000, #000);
        }
        
 .journal-grid .thumb-card {
	 font-size: .8rem;
	 color: rgba(0,0,0,.5);
	 text-transform: uppercase;
	 text-align: left;
 } 
 
 .journal-grid .thumb-card a {
	 
	 
 }
 
  .journal-grid .thumb-card .feed-title {
	  white-space: normal;
	  max-width: 300px;
  }
  
  .feed-divider {
	  border-bottom: solid 1px rgba(0,0,0,.5);
	  text-transform: uppercase;
	  font-size: 0.8rem;
	  color: rgba(0,0,0,.5);
  }

  .card-img-overlay {
	color: white;
  }
  
  .col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1140px) {
	.hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}

	.not-hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		
	}

    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
	}
	.column-gallery {
		padding: 0 350px 200px 350px;
		text-align: center;
		white-space: nowrap;
	}

	.grid-portrait {
		max-width: 48%;
	}

	.grid-landscape_tall {
		max-width: 66%;
	}
}

.social-icons {
	width: 60px;
	height: 60px;
}

/*iPad Pro 9.7"*/
/* Portrait */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {

	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}


	.hidden-on-mobile {
	position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
	}
}

/* Landscape */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}
	.hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		}

}
/*iPad Pro 10.5"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-width: 834px)
and (max-width: 834px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}
	.hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		}
	

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-width: 1112px)
and (max-width: 1112px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}
	.hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		}

}
/*ipad PRo 12.9"*/
/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-width: 1024px)
and (max-width: 1024px)
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}
	.hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		}

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
and (min-width: 1366px)
and (max-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	.not-hidden-on-mobile {
		position: unset !important;
	   top: unset !important;
	   left: unset !important;
		
	}

	.hidden-on-mobile {
		position: absolute !important;
	   top: -9999px !important;
	   left: -9999px !important;
		}

}